<form>
    <p class="form-title">Register</p>
    <div class="form-control-container">
        <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Choose your username" [formControl]="username" required>
        @if (username.invalid) {
            <mat-error>{{getUsernameErrorMessage()}}</mat-error>
        }
        </mat-form-field>
    </div>
    <div class="form-control-container">
        <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (password.invalid) {
            <mat-error>{{getPasswordErrorMessage()}}</mat-error>
        }
        </mat-form-field>
    </div>
    <button 
        class="registerButton" 
        mat-raised-button color="primary" 
        [disabled]="username.invalid || password.invalid" 
        (click)="register()"
    >
        Register
    </button>
</form>