<mat-toolbar>
    <a routerLink="/">Table</a>
    <span class="secondary-spacer"></span>
    <a routerLink="/about">About</a>

    <!-- Log in and Register links on the right -->
    <span class="main-spacer"></span>
    <div *ngIf="!authService.isLoggedIn()">
        <a routerLink="/login">Log in</a>
        <span class="secondary-spacer"></span>
        <a routerLink="/register">Register</a>
    </div>
    <div *ngIf="authService.isLoggedIn()">
        <a>Hello, {{tokenService.getUsernameFromToken()}}!</a>
        <span class="secondary-spacer"></span>
        <a (click)="authService.logout()">Log out</a>
    </div>

</mat-toolbar>