html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-area {
    padding: 12px 10px;
    border-radius: 4px;
    border: 2px solid #ccc;
}

.btn-submit {
    width: 100px;
}