<mat-card>
    <mat-card-header>
      <mat-card-title>Short URL Information</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="shortenedUrl">
      <div class="info-row">
        <span class="info-label">ID:</span>
        <span class="info-value">{{ shortenedUrl.id }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Long URL:</span>
        <span class="info-value">{{ shortenedUrl.longUrl }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Short URL:</span>
        <span class="info-value">{{ shortenedUrl.shortUrl }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Code:</span>
        <span class="info-value">{{ shortenedUrl.code }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Created by:</span>
        <span class="info-value">{{ shortenedUrl.creator }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Creted on:</span>
        <span class="info-value">{{ datePipe.transform(shortenedUrl.createdOn, 'medium') }}</span>
      </div>
    </mat-card-content>
</mat-card>
